body {
    border: 20px;
    margin: 50px;
}

#logo {
    width: 100px;
    margin-left: 200px;
}

.container {
    display: inline-flex;
}

.input-titles {
    display: inline-block;
    line-height: 5px;   
}

.inputs-fields {
    margin: 10px;
    display: inline-flex;
    flex-direction: column;
    height: 0vh;
    align-items: ;   
}
#tel  {
    width: 70px;

}
.reach-you {
    display: inline block;
    flex-direction: column;  

 }

#footer-logo {
    width: 100px;
    margin-left: 200px;
}